nav(data-role="appbar" data-expand-point="fs")
    a(href="/").app-bar-item.no-hover
        img(src="/favicon.svg" alt="logo" id="logo")
        span#logo-text SQL Navigator

    ul.app-bar-menu.ml-auto.mr-2
        li: a(href="#"): span File
        li: a(href="#"): span Edit
        li: a(href="#"): span Navigate
        li: a(href="#"): span Code
        li: a(href="#"): span Help
        li: a(href="#"): span GitHub
