html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/head

    body.m4-cloak
        include components/appbar

        main(data-role="splitter" data-split-sizes="400px, 100" data-gutter-size="10")
            div#explorer
                include components/explorer

            div#content

        include partials/footer
