head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/css/metro.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.47.0/min/vs/editor/editor.main.min.css' data-name="vs/editor/editor.main")
    link(rel='stylesheet', href='/css/index.css')

    link(rel="icon" href="favicon.svg")

    title= title